.actions {
  display: none;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__list {
    display: flex;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: -30px;
  }

  &__item {
    margin-left: 30px;
  }

  &__wrap {
    position: relative;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--contacts-color);
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
