.navigation {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--logo-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  & > span {
    color: var(--accent-color);
  }
}

.header__logo {
  margin-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 88px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 100%;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header__contacts {
  @media screen and (min-width: 768px) {
    margin-left: 84px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.mob-menu__button-open {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__icon {
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mob-menu__button-open:hover &,
  .mob-menu__button-open:focus & {
    fill: var(--accent-color);
  }
}

// .menu__button-open .icon__menu-close {
//   display: none;
// }

// .menu__button-open.is-open .icon__menu-close {
//   display: block;
// }

// .menu__button-open.is-open .icon__menu {
//   display: none;
// }

.menu-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    padding: 32px 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;
      }

      @media screen and (min-width: 1200px) {
        margin-right: 30px;
      }
    }
  }

  &__email-phone {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      padding: 32px 0;
      font-size: 14px;
      line-height: 1.14;
      // align-items: baseline;
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts__email-phone:hover > & {
      fill: var(--accent-color);
    }
  }
}

.current {
  position: relative;
  color: var(--accent-color);

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   display: block;
  //   width: 100%;
  //   height: 4px;
  //   background-color: var(--accent-color);
  //   border-radius: 2px;
  // }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--contacts-color);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;

  & .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__button-close {
  display: block;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: -2px;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__icon {
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mob-menu__button-close:hover &,
  .mob-menu__button-close:focus & {
    fill: var(--accent-color);
  }
}

.mob-menu__list {
  margin-left: 20px;

  @media screen and (min-width: 480px) {
    margin-left: 40px;
  }
}

.mob-menu__item {
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  & .current {
    color: var(--accent-color);
  }
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu__contacts {
  margin-left: 20px;
  margin-bottom: 64px;

  @media screen and (min-width: 480px) {
    margin-left: 40px;
  }
}

.mob-menu__contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__phone {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mob-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-menu__socials {
  display: flex;
  margin-left: 20px;

  @media screen and (min-width: 480px) {
    margin-left: 40px;
  }
}

.mob-menu__socials-item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.mob-menu__socials-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}

.no-scroll {
  overflow: hidden;
}
