.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

// MODAL

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--contacts-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background-color: var(--contacts-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__close:focus & {
      fill: var(--accent-color);
    }

    &:hover {
      fill: var(--accent-color);
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: var(--main-text-color);

    @media screen and (min-width: 768px) {
      line-height: 1.1;
    }
  }

  &__form {
    margin-top: 12px;
  }

  &__textarea {
    margin-bottom: 20px;
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__submit {
    text-align: center;
  }

  &__btn-submit {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}

// FORM

.form__item {
  margin-bottom: 10px;
}

.form__label,
.textarea__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form__input {
  position: relative;
}

.form__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: rgba(33, 150, 243, 1);
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:hover &,
  .form__input:focus & {
    fill: var(--accent-color);
  }
}

// TEXTAREA

.textarea__field {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    border-color: rgba(33, 150, 243, 1);
  }
}

// CHECKBOX

.checkbox__text {
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
  }

  & span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--logo-color);
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox__input:checked + & {
      background-color: var(--accent-color);
      border: none;
    }

    .checkbox__input:focus + & {
      border-color: var(--accent-color);
    }
  }
}

.checkbox__icon {
  fill: transparent;

  .checkbox__input:checked + .checkbox__text & {
    fill: var(--contacts-color);
  }
}

.checkbox__link {
  color: var(--accent-color);
}
